<div class="titulo">
    <h2>Lista de Movimentações</h2>
</div>
<h3>Entradas</h3>
<table class="striped table">
    <thead>
        <tr>
            <th>Data Movimentação</th>
            <th>Medicamento</th>
            <th>Dosagem</th>
            <th>Lote</th>
            <th>Data de Validade </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let movimentacao of movimentacoes">
            <td>{{ movimentacao?.dataMovimentacao | date:'dd/MM/yyyy' }}</td>
            <td>{{ movimentacao?.medicamento.nome }}</td>
            <td>{{ movimentacao?.dosagem }}</td>
            <td>{{ movimentacao?.lote.lote }}</td>
            <td>{{ movimentacao?.lote.dataValidade | date:'dd/MM/yyyy'}}</td>
        </tr>
    </tbody>
</table>

<h3>Saídas</h3>
<table class="striped table">
    <thead>
        <tr>
            <th>Data Aplicação</th>
            <th>Medicamento</th>
            <th>Animal</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let aplicacao of aplicacoes">
            <td>{{ aplicacao?.dataAplicacao | date:'dd/MM/yyyy' }}</td>
            <td>{{ aplicacao?.medicamento.nome }}</td>
            <td>{{ aplicacao?.animal.nome }}</td>
        </tr>
    </tbody>
</table>

<h3>Saldos</h3>
<table class="striped table">
    <thead>
        <tr>
            <th>Lote</th>
            <th>Medicamento</th>
            <th>Saldo</th>
            <th>Data de Validade</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let lote of lotes">
            <td>{{ lote?.lote }}</td>
            <td>{{ lote?.medicamento.nome }}</td>
            <td>{{ lote?.saldo }}</td>
            <td>{{ lote?.dataValidade  | date:'dd/MM/yyyy' }}</td>
        </tr>
    </tbody>
</table>

<div class="jumbotron jumbotron-fluid">
    <button class="btn btn-primary" [routerLink]="['/home-medicina']">
        Voltar
    </button>

</div>