<div class="titulo">
    <h2>Lista de Animais</h2>
</div>
<table class="striped table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Raça</th>
            <th>Sexo</th>
            <th>Produtor</th>
            <th>Ficha</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let animal of animais">
            <td>{{ animal?.nome }}</td>
            <td>{{ animal?.raca.nome }}</td>
            <td>{{ animal?.sexo }}</td>
            <td>{{ animal?.produtor.nome }}</td>
            <td><a routerLink="{{ '/ficha-animal/' + animal?.id }}">
                <i class="fa fa-edit"></i>Ver
            </a> </td>
        </tr>
    </tbody>
</table>

<div class="jumbotron jumbotron-fluid">
    <button class="btn btn-primary" [routerLink]="['/cadastra-animal']">
        Cadastrar Animal
    </button>
    <button class="btn btn-primary" [routerLink]="['/home-animal']">
        Voltar
    </button>

</div>
