<div class="titulo">
  <h2>Cadastro de Animal</h2>
</div>
<form [formGroup]="form" fxLayoutAlign="center" novalidate>
    <mat-list>
      <mat-list-item>
        <mat-form-field>
          <input matInput placeholder="Nome"
              formControlName="nome">
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <input matInput placeholder="Data de Entrada"
              formControlName="dataEntrada" type="date">
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <input matInput placeholder="Peso de Entrada"
              formControlName="pesoEntrada">
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <input matInput placeholder="Identificação"
              formControlName="identificacao">
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Sexo</mat-label>
          <mat-select placeholder="Sexo" formControlName="sexo">
            <mat-option value="MACHO">
              MACHO
            </mat-option>
            <mat-option value="FEMEA">
              FEMEA
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Produtor</mat-label>
          <mat-select placeholder="Produtores" formControlName="produtor">
            <mat-option   
              *ngFor="let produtor of produtores" [value]="produtor">
              {{ produtor?.nome }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Fornecedor</mat-label>
          <mat-select placeholder="Fornecedor" formControlName="fornecedor">
            <mat-option   
              *ngFor="let fornecedor of fornecedores" [value]="fornecedor">
              {{ fornecedor?.nome }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Raça</mat-label>
          <mat-select placeholder="Raça" formControlName="raca">
            <mat-option   
              *ngFor="let raca of racas" [value]="raca">
              {{ raca?.nome }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Categoria</mat-label>
          <mat-select placeholder="Categoria" formControlName="categoria">
            <mat-option   
              *ngFor="let categoria of categorias" [value]="categoria">
              {{ categoria?.nome }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item fxLayoutAlign="center">
        <button mat-raised-button color="primary"
            [disabled]="form.invalid" (click)="cadastrarAnimal()">
            Cadastrar
        </button>
        &nbsp;
        <a mat-raised-button routerLink="/lista-animal">Voltar</a>
      </mat-list-item>
    </mat-list>
  </form>
  