<div class="titulo">
    <h2>Lista de Raças</h2>
</div>
<table class="striped table">
    <thead>
        <tr>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let raca of racas">
            <td>{{ raca.nome }}</td>
        </tr>
    </tbody>
</table>

<div class="jumbotron jumbotron-fluid">
    <button class="btn btn-primary" [routerLink]="['/cadastra-raca']">
        Cadastrar Raça
    </button>
    <button class="btn btn-primary" [routerLink]="['/home-animal']">
        Voltar
    </button>

</div>