<div class="titulo">
    <h2>Lista de Fornecedores</h2>
</div>

<table class="striped table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Documento</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let fornecedor of fornecedores">
            <td>{{ fornecedor.nome }}</td>
            <td>{{ fornecedor.documento }}</td>
        </tr>
    </tbody>
</table>

<div class="jumbotron jumbotron-fluid">
    <button class="btn btn-primary" [routerLink]="['/cadastra-fornecedor']">
        Cadastrar Fornecedor
    </button>
    <button class="btn btn-primary" [routerLink]="['/home']">
        Voltar
    </button>

</div>