<div class="titulo">
    <h2>Canário Agro</h2>
</div>

<button class="btn btn-primary btn-home" [routerLink]="['/lista-animal']">
    Animais
</button>
<button class="btn btn-primary btn-home" [routerLink]="['/lista-categoria']">
    Categorias
</button>
<button class="btn btn-primary btn-home" [routerLink]="['/lista-raca']">
    Raças
</button>
<button class="btn btn-primary btn-home" [routerLink]="['/lista-produtor']">
    Produtores
</button>
<button class="btn btn-primary btn-home" [routerLink]="['/lista-fornecedor']">
    Fornecedores
</button>
<button class="btn btn-primary btn-home" [routerLink]="['/lista-tipo']">
    Tipos de Medicamentos
</button>
<button class="btn btn-primary btn-home" [routerLink]="['/lista-medicamento']">
    Medicamentos
</button>
<button class="btn btn-primary btn-home" [routerLink]="['/lista-aplicacao']">
    Aplicação
</button>
<button class="btn btn-primary btn-home" [routerLink]="['/lista-lote']">
    Lotes
</button>