<div class="titulo">
    <h2>Lista de Medicamentos</h2>
</div>
<table class="striped table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let medicamento of medicamentos">
            <td>{{ medicamento.nome }}</td>
            <td>{{ medicamento?.tipo.tipo }}</td>
        </tr>
    </tbody>
</table>

<div class="jumbotron jumbotron-fluid">
    <button class="btn btn-primary" [routerLink]="['/cadastra-medicamento']">
        Cadastrar Medicamento
    </button>
    <button class="btn btn-primary" [routerLink]="['/home-medicina']">
        Voltar
    </button>

</div>